.container-fluid {
    background-color: #103c86;
    position: relative;
    overflow: hidden;
    z-index: -99;
    
    &::after {
        content: "";
        background-image: url('../../img/bg/earth.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        opacity: 0.3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
    }

    .banner {
        height: calc(100vh + 100px);
        padding: 50px 0;
        text-align: center;
    
        .header {
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 70%;
            }
        }
    
        .tagline {
            height: calc(100% - 65px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
    
            &__thin {
                @include light;
                font-size: 5.1rem;
                color: #fff;
            }
    
            &__thick {
                @include bold;
                font-size: 7rem;
                color: #a8c000;

            }

            .battery-static {
                position: absolute;
                top: 425px;
                left: 0;
                z-index: 1;
            }

        }

        .hashtag {
            height: 50px;
            line-height: 75px;
            @include semi-bold;
            font-size: 1rem;
            color: #fff;
        }
    }

    #scene {
        width: 100vw;
        position: relative;

        .prlx {
            max-width: 2480px;
            position: absolute;
            top: -130px;
        }

        .left {
            left: -220px;
        }

        .right {
            right: -2350px;
        }
    }
}
