
.banner {
    max-width: 100%;
    height: 100vh;
    padding: 50px 0;
    text-align: center;

    .header {
        height: 50px;
        margin-bottom: -30px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 70%;
        }
    }

    .tagline {
        height: calc(100% - 65px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        &__thin {
            @include light;
            font-size: 5.1rem;
            color: #fff;
        }

        &__thick {
            @include bold;
            font-size: 7rem;
            color: #a8c000;

        }

        .battery-static {
            position: absolute;
            top: 375px;
            left: 0;
            z-index: 1;
        }

    }

    .footer {
        @include semi-bold;
        height: 50px;
        margin-top: 30px;
        font-size: 1rem;
        color: #fff;
    }
}

#scene {
    position: relative;

    .prlx {
        max-width: 2080px;
        position: absolute;
        top: -30px;
    }

    .left {
        left: -250px;
    }

    .right {
        right: -2250px;
    }
}

