.damage {
    max-width: 1180px;
    height: 550px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    @media (max-width: 1180px) {
        height: auto;
        padding: 65px 0;
    }

    &__txt {
        width: percentage(10 / 12);
        margin-left: percentage(1 / 12);
        @include bold;
        font-size: 1.1rem;
        line-height: 1.5rem;

        p {
            display: block;

            @media (max-width: 768px) {
                display: inline;
            }
        }

        @media (max-width: 1180px) {
            font-size: .9rem;
        }
    }

    &__img {
        margin-top: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        @media (max-width: 1180px) {
            flex-direction: column;
            justify-content: center;
        }

        div {
            max-width: 112px;
        }

        span {
            @include extra-bold;
            font-size: 1.5rem;
        }

        .equals {
            max-width: 270px;
            max-height: 100px;
        }

        .txt {
            @include bold;
            font-size: 0.9em;
        }
    }
}