.points {
    //margin: 0 auto;
    padding-top: 115px;
    padding-bottom: 60px;

    @media (max-width: 1180px) {
        padding-top: 65px;
    }

    .title {
        @include bold;
        font-size: 2rem;
        text-align: center;
        color: #0d3d8e;
    }

    .card-wrapper {
        margin: 50px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        @media (max-width: 1180px) {
            justify-content: center;
        }

        .card-item {
            width: 280px;
            margin-bottom: 15px;
            margin-right: 15px;

            @media (max-width: 768px) {
                margin-right: 0;
            }

            &__photo {
                height: 280px;
                background-image: url('../../img/points/unicom.png');
                background-size: cover;
            }

            &__address {
                padding: 25px 20px 20px 20px;
                background-color: #0d3d8e;
                
                .org, .name {
                    @include semi-bold;
                    font-size: 1.1rem;
                    color: #fff;
                }

                .name {
                    margin-bottom: 25px;
                }

                .city, .street, .floor {
                    font-size: 0.8rem;
                    color: #fff;
                }

                .show-btn {
                    height: 50px;
                    line-height: 50px;
                    margin-top: 20px;
                    text-align: center;
                    @include bold;
                    font-size: .9em;
                    background-color: #f0c000;
                    cursor: pointer;

                    &:hover {
                        background-color: lighten(#f0c000, 10%)
                    }
                }
            }
        }
    }

    #btn-show-more {
        width: 295px;
        height: 50px;
        line-height: 50px;
        margin: 0 auto;
        text-align: center;
        @include bold;
        font-size: 1em;
        background-color: #f0c000;
        cursor: pointer;

        &:hover {
            background-color: lighten(#f0c000, 10%)
        }
    }
}