.types {
    height: 670px;
    padding: 115px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    &__title {
        @include bold;
        font-size: 2rem;
        text-align: center;
        color: #fff;

        @media (max-width: 780px) {
            font-size: 1.5rem;
        }

        @media (max-width: 550px) {
            font-size: 1.2rem;
        }

    }

    &__img img{
        @media (max-width: 780px) {
            width: 75%;
        }
    }

    &__txt {
        @include semi-bold;
        font-size: 1rem;
        line-height: 1.5rem;
        color: #fff;

        @media (max-width: 780px) {
            font-size: .75rem;
        }
    }
}