@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&subset=cyrillic,cyrillic-ext");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #000; }

* {
  font-family: 'Montserrat', sans-serif; }

.container-fluid {
  background-color: #fff; }
  .container-fluid_bg_space {
    display: flex;
    background-color: #103c86;
    position: relative;
    overflow: hidden;
    z-index: -99; }
    .container-fluid_bg_space::after {
      content: "";
      background-image: url("../../img/bg/earth.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      opacity: 0.3;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1; }
  .container-fluid_bg_blue {
    z-index: 0;
    background-color: #103c86; }
  .container-fluid_video {
    min-height: 640px;
    display: flex;
    justify-content: center;
    align-items: center; }

.container {
  max-width: 1180px;
  margin: 0 auto; }

.prlx {
  width: 4000px;
  height: 2500px;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0; }
  @media (min-height: 1366px) {
    .prlx {
      -webkit-transform: translateY(25%);
              transform: translateY(25%); } }
  @media (min-height: 992px) {
    .prlx {
      -webkit-transform: translateY(25%);
              transform: translateY(25%); } }
  @media (max-width: 2560px) {
    .prlx {
      width: 2700px;
      height: 1999px; } }
  @media (max-width: 1920px) {
    .prlx {
      width: 1920px;
      height: 1400px; } }
  @media (max-width: 1366px) {
    .prlx {
      width: 1366px;
      height: 1000px; } }
  @media (max-width: 1024px) {
    .prlx {
      width: 1024px;
      height: 800px; } }
  @media (max-width: 768px) {
    .prlx {
      width: 768px;
      height: 500px; } }
  @media (max-width: 1020px) {
    .prlx {
      display: none; } }

.left-back {
  background-image: url("../../img/batteries/croped1920/left_back.png");
  top: -400px;
  left: 1000px; }
  @media (max-width: 2560px) {
    .left-back {
      height: 1500px;
      top: -300px;
      left: 600px; } }
  @media (max-width: 1920px) {
    .left-back {
      height: 1000px;
      top: 100px;
      left: 500px; } }
  @media (max-width: 1366px) {
    .left-back {
      height: 800px;
      top: 80px;
      left: 350px; } }
  @media (max-width: 1024px) {
    .left-back {
      height: 600px;
      top: 150px;
      left: 200px; } }

.left-middle {
  background-image: url("../../img/batteries/croped1920/left_middle.png");
  top: 0;
  left: 300px; }
  @media (max-width: 2560px) {
    .left-middle {
      height: 1300px; } }
  @media (max-width: 1920px) {
    .left-middle {
      height: 1000px;
      top: 300px;
      left: 200px; } }
  @media (max-width: 1366px) {
    .left-middle {
      top: 200px;
      left: 150px;
      height: 800px; } }
  @media (max-width: 1024px) {
    .left-middle {
      height: 500px;
      left: 100px; } }

.left-front {
  background-image: url("../../img/batteries/croped1920/left_front.png");
  top: -800px;
  left: 0; }
  @media (max-width: 2560px) {
    .left-front {
      top: -550px; } }
  @media (max-width: 1920px) {
    .left-front {
      top: -50px;
      left: -50px; } }
  @media (max-width: 1366px) {
    .left-front {
      height: 1200px;
      top: -50px;
      left: -50px; } }
  @media (max-width: 1024px) {
    .left-front {
      height: 900px;
      top: -50px;
      left: -50px; } }

.right-back {
  background-image: url("../../img/batteries/croped1920/right_back.png");
  top: 900px;
  right: 0; }

.right-middle {
  background-image: url("../../img/batteries/croped1920/right_middle.png");
  top: -350px;
  left: 150px; }
  @media (max-width: 2560px) {
    .right-middle {
      height: 1200px;
      top: -100px;
      left: 80px; } }
  @media (max-width: 1920px) {
    .right-middle {
      height: 1000px;
      top: 250px;
      left: 100px; } }
  @media (max-width: 1366px) {
    .right-middle {
      height: 800px;
      top: 150px;
      left: 90px; } }
  @media (max-width: 1024px) {
    .right-middle {
      height: 600px;
      top: 150px;
      left: 70px; } }

.right-front {
  background-image: url("../../img/batteries/croped1920/right_front.png");
  top: -700px;
  left: 0; }
  @media (max-width: 2560px) {
    .right-front {
      height: 1700px;
      top: -400px;
      left: 0; } }
  @media (max-width: 1920px) {
    .right-front {
      width: 2300px;
      top: -100px;
      left: -200px;
      -webkit-transform: scale(0.8);
              transform: scale(0.8); } }
  @media (max-width: 1366px) {
    .right-front {
      top: -350px;
      left: -500px;
      -webkit-transform: scale(0.6);
              transform: scale(0.6); } }
  @media (max-width: 1024px) {
    .right-front {
      top: -450px;
      left: -600px;
      -webkit-transform: scale(0.5);
              transform: scale(0.5); } }

.hero {
  max-width: 100%;
  height: 100vh;
  padding: 50px 0;
  text-align: center; }
  .hero .header {
    height: 50px;
    margin-bottom: -30px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .hero .header__logo {
      width: 132px; }
    .hero .header img {
      width: 70%; }
      @media (max-width: 780px) {
        .hero .header img {
          width: 50%; } }
  .hero .tagline {
    height: calc(100% - 65px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; }
    .hero .tagline__thin {
      font-weight: 300;
      font-size: 5.1rem;
      color: #fff; }
      @media (max-width: 1180px) {
        .hero .tagline__thin {
          font-size: 3.8rem; } }
      @media (max-width: 780px) {
        .hero .tagline__thin {
          font-size: 2.6rem; } }
      @media (max-width: 550px) {
        .hero .tagline__thin {
          font-size: 2rem; } }
      @media (max-width: 460px) {
        .hero .tagline__thin {
          font-size: 1.8rem; } }
      @media (max-width: 425px) {
        .hero .tagline__thin {
          font-size: 1.8rem; } }
      @media (max-width: 360px) {
        .hero .tagline__thin {
          font-size: 1.5rem; } }
      @media (max-width: 320px) {
        .hero .tagline__thin {
          font-size: 1.3rem; } }
    .hero .tagline__thick {
      position: relative;
      font-weight: 700;
      font-size: 7rem;
      color: #a8c000; }
      @media (max-width: 1180px) {
        .hero .tagline__thick {
          font-size: 5rem; } }
      @media (max-width: 780px) {
        .hero .tagline__thick {
          font-size: 3.5rem; } }
      @media (max-width: 550px) {
        .hero .tagline__thick {
          font-size: 2.7rem; } }
      @media (max-width: 460px) {
        .hero .tagline__thick {
          font-size: 2.5rem; } }
      @media (max-width: 425px) {
        .hero .tagline__thick {
          font-size: 2.25rem; } }
      @media (max-width: 360px) {
        .hero .tagline__thick {
          font-size: 2rem; } }
      @media (max-width: 320px) {
        .hero .tagline__thick {
          font-size: 1.7rem; } }
    .hero .tagline .battery-static {
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      z-index: 1; }
      @media (max-width: 1180px) {
        .hero .tagline .battery-static {
          width: 75%;
          top: 20px; } }
      @media (max-width: 1024px) {
        .hero .tagline .battery-static {
          -webkit-transform: translateX(-51%);
                  transform: translateX(-51%); } }
      @media (max-width: 768px) {
        .hero .tagline .battery-static {
          -webkit-transform: translateX(-52%);
                  transform: translateX(-52%); } }
      @media (max-width: 544px) {
        .hero .tagline .battery-static {
          width: 85%;
          top: 10px;
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%); } }
  .hero .footer {
    font-weight: 600;
    height: 50px;
    margin-top: 30px;
    font-size: 1rem;
    color: #ffffff; }

.damage {
  max-width: 1180px;
  height: 550px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  @media (max-width: 1180px) {
    .damage {
      height: auto;
      padding: 65px 0; } }
  .damage__txt {
    width: 83.33333%;
    margin-left: 8.33333%;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 1.5rem; }
    .damage__txt p {
      display: block; }
      @media (max-width: 768px) {
        .damage__txt p {
          display: inline; } }
    @media (max-width: 1180px) {
      .damage__txt {
        font-size: .9rem; } }
  .damage__img {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    @media (max-width: 1180px) {
      .damage__img {
        flex-direction: column;
        justify-content: center; } }
    .damage__img div {
      max-width: 112px; }
    .damage__img span {
      font-weight: 800;
      font-size: 1.5rem; }
    .damage__img .equals {
      max-width: 270px;
      max-height: 100px; }
    .damage__img .txt {
      font-weight: 700;
      font-size: 0.9em; }

.infographic {
  max-width: 100%;
  height: 1352px;
  background-image: url("../../img/infographic/scheme.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 999; }
  @media (min-width: 1920px) {
    .infographic {
      height: 1400px; } }
  @media (min-width: 1975px) {
    .infographic {
      height: 1600px; } }
  @media (min-width: 2270px) {
    .infographic {
      height: 1800px; } }
  @media (min-width: 2540PX) {
    .infographic {
      height: 2100px; } }
  @media (min-width: 3065px) {
    .infographic {
      height: 2460px; } }
  @media (min-width: 3490px) {
    .infographic {
      height: 2860px; } }
  @media (max-width: 1180px) {
    .infographic {
      height: 1260px;
      background-size: 150%; } }
  @media (max-width: 960px) {
    .infographic {
      height: 1000px; } }
  @media (max-width: 800px) {
    .infographic {
      height: 860px; } }
  @media (max-width: 680px) {
    .infographic {
      height: 760px; } }
  @media (max-width: 630px) {
    .infographic {
      height: 660px; } }
  @media (max-width: 560px) {
    .infographic {
      height: 552px; } }
  @media (max-width: 490px) {
    .infographic {
      height: 502px; } }
  @media (max-width: 425px) {
    .infographic {
      height: 430px; } }
  @media (max-width: 356px) {
    .infographic {
      height: 350px; } }

.points {
  padding-top: 115px;
  padding-bottom: 60px; }
  @media (max-width: 1180px) {
    .points {
      padding-top: 65px; } }
  .points .title {
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    color: #0d3d8e; }
  .points .card-wrapper {
    width: auto;
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; }
    @media (max-width: 1180px) {
      .points .card-wrapper {
        justify-content: center; } }
    .points .card-wrapper .row {
      display: flex;
      flex-wrap: nowrap; }
      @media (max-width: 325px) {
        .points .card-wrapper .row {
          flex-direction: column; } }
    .points .card-wrapper .card-item {
      width: 280px;
      margin-bottom: 15px;
      margin-right: 7px;
      margin-left: 7px; }
      @media (max-width: 600px) {
        .points .card-wrapper .card-item {
          width: 186px;
          margin-left: 2px;
          margin-right: 2px;
          margin-bottom: 5px; } }
      @media (max-width: 375px) {
        .points .card-wrapper .card-item {
          margin-bottom: 2px; } }
      @media (max-width: 375px) {
        .points .card-wrapper .card-item:nth-child(odd) {
          margin-left: 0;
          margin-right: 1px; } }
      @media (max-width: 375px) {
        .points .card-wrapper .card-item:nth-child(2n) {
          margin-right: 0;
          margin-left: 1px; } }
      .points .card-wrapper .card-item__photo {
        height: 280px;
        background-image: url("../../img/points/default.png");
        background-position: center center;
        background-size: cover; }
        @media (max-width: 600px) {
          .points .card-wrapper .card-item__photo {
            height: 200px; } }
      .points .card-wrapper .card-item .pe-bm {
        background-image: url("../../img/points/pe_bm.JPG"); }
      .points .card-wrapper .card-item .pe-aut {
        background-image: url("../../img/points/pe_aut.jpeg"); }
      .points .card-wrapper .card-item .unicom {
        background-image: url("../../img/points/unicom.jpeg"); }
      .points .card-wrapper .card-item .sinet {
        background-image: url("../../img/points/sinet.JPG"); }
      .points .card-wrapper .card-item .edem {
        background-image: url("../../img/points/edem.jpg"); }
      .points .card-wrapper .card-item__address {
        display: block;
        position: relative;
        padding: 25px 20px 20px 20px;
        background-color: #0d3d8e; }
        @media (max-width: 600px) {
          .points .card-wrapper .card-item__address {
            height: 200px; } }
        .points .card-wrapper .card-item__address .org, .points .card-wrapper .card-item__address .name {
          display: block;
          font-weight: 600;
          font-size: 1.1rem;
          color: #fff; }
          @media (max-width: 600px) {
            .points .card-wrapper .card-item__address .org, .points .card-wrapper .card-item__address .name {
              font-size: 0.7rem; } }
        .points .card-wrapper .card-item__address .name {
          display: block;
          margin-bottom: 25px; }
          @media (max-width: 600px) {
            .points .card-wrapper .card-item__address .name {
              margin-bottom: 20px; } }
        .points .card-wrapper .card-item__address .city, .points .card-wrapper .card-item__address .street, .points .card-wrapper .card-item__address .floor {
          display: block;
          font-size: 0.8rem;
          color: #fff; }
          @media (max-width: 600px) {
            .points .card-wrapper .card-item__address .city, .points .card-wrapper .card-item__address .street, .points .card-wrapper .card-item__address .floor {
              font-size: 0.52rem; } }
        .points .card-wrapper .card-item__address .show-btn {
          height: 50px;
          line-height: 50px;
          margin-top: 25px;
          text-align: center;
          font-weight: 700;
          font-size: .9em;
          background-color: #f0c000;
          cursor: pointer; }
          @media (max-width: 600px) {
            .points .card-wrapper .card-item__address .show-btn {
              width: 150px;
              height: 40px;
              line-height: 40px;
              position: absolute;
              bottom: 20px;
              left: 50%;
              -webkit-transform: translateX(-50%);
                      transform: translateX(-50%);
              margin-top: 20px;
              padding: 0 20px;
              font-size: 0.6rem; } }
          .points .card-wrapper .card-item__address .show-btn:hover {
            background-color: #ffd324; }
  .points #show-more-btn {
    width: 280px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    font-size: 1em;
    background-color: #f0c000;
    cursor: pointer; }
    .points #show-more-btn:hover {
      background-color: #ffd324; }

.types {
  height: 670px;
  padding: 115px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center; }
  .types__title {
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    color: #fff; }
    @media (max-width: 780px) {
      .types__title {
        font-size: 1.5rem; } }
    @media (max-width: 550px) {
      .types__title {
        font-size: 1.2rem; } }
  @media (max-width: 780px) {
    .types__img img {
      width: 75%; } }
  .types__txt {
    margin: 0 40px;
    display: block;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #fff; }
    @media (max-width: 320px) {
      .types__txt {
        margin: 0 20px; } }
    @media (max-width: 780px) {
      .types__txt p {
        display: inline;
        font-size: .75rem; } }

.insta {
  margin: 0 auto;
  padding: 115px 0;
  text-align: center; }
  .insta .title {
    font-weight: 600;
    font-size: 2rem;
    color: #fff; }
  .insta .hashtag {
    margin: 10px 0 50px 0;
    font-size: 1.3rem;
    color: #fff; }
  .insta .call2action {
    display: block;
    margin: auto;
    padding: 0 20px;
    max-width: 872px;
    color: #fff; }
  .insta .card-wrapper_insta {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .insta .card-wrapper_insta .card-item_insta {
      width: 280px;
      margin-right: 7px;
      margin-left: 7px;
      margin-bottom: 15px;
      text-align: left; }
      @media (max-width: 1180px) {
        .insta .card-wrapper_insta .card-item_insta {
          margin-right: 15px;
          margin-bottom: 60px; } }
      @media (max-width: 768px) {
        .insta .card-wrapper_insta .card-item_insta {
          margin-right: 0;
          margin-bottom: 60px; } }
      .insta .card-wrapper_insta .card-item_insta__photo {
        min-height: 280px;
        background-image: url("../../img/points/unicom.png");
        background-size: cover; }
      .insta .card-wrapper_insta .card-item_insta__photo--2 {
        min-height: 280px;
        background-image: url("../../img/insta/2.jpg");
        background-size: cover; }
      .insta .card-wrapper_insta .card-item_insta__photo--3 {
        min-height: 280px;
        background-image: url("../../img/insta/3.jpg");
        background-size: cover; }
      .insta .card-wrapper_insta .card-item_insta__author {
        margin: 20px 0;
        font-weight: 600;
        font-size: .9rem;
        color: #fff; }
      .insta .card-wrapper_insta .card-item_insta__post {
        margin-right: 40px;
        font-size: .8rem;
        color: #fff; }
      .insta .card-wrapper_insta .card-item_insta__small-hashtag {
        margin-top: 20px;
        font-size: .75rem;
        color: #fff; }

.social {
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #fff;
  background-color: #103c86; }
  .social span {
    margin-right: 40px;
    color: #fff; }
    @media (max-width: 780px) {
      .social span {
        max-width: 135px;
        font-size: 0.8rem; } }
  .social__icons {
    display: flex;
    justify-content: space-between; }
    .social__icons i {
      margin-right: 20px;
      color: #fff; }
    .social__icons a:hover i {
      color: #f0c000; }
