@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&subset=cyrillic,cyrillic-ext");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style-type: none; }

* {
  font-family: 'Montserrat', sans-serif; }

.container-fluid {
  width: 100%; }
  .container-fluid--damage {
    background: #fff; }

.container {
  width: 1180px;
  margin: 0 auto; }

.container-fluid {
  background-color: #103c86;
  position: relative;
  overflow: hidden;
  z-index: -99; }
  .container-fluid::after {
    content: "";
    background-image: url("../../img/bg/earth.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1; }
  .container-fluid .banner {
    max-width: 100%;
    height: 100vh;
    padding: 50px 0;
    text-align: center; }
    .container-fluid .banner .header {
      height: 50px;
      margin-bottom: -30px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .container-fluid .banner .header img {
        width: 70%; }
    .container-fluid .banner .tagline {
      height: calc(100% - 65px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative; }
      .container-fluid .banner .tagline__thin {
        font-weight: 300;
        font-size: 5.1rem;
        color: #fff; }
      .container-fluid .banner .tagline__thick {
        font-weight: 700;
        font-size: 7rem;
        color: #a8c000; }
      .container-fluid .banner .tagline .battery-static {
        position: absolute;
        top: 375px;
        left: 0;
        z-index: 1; }
    .container-fluid .banner .footer {
      font-weight: 600;
      height: 50px;
      margin-top: 30px;
      font-size: 1rem;
      color: #fff; }
  .container-fluid #scene {
    position: relative; }
    .container-fluid #scene .prlx {
      max-width: 2080px;
      position: absolute;
      top: -30px; }
    .container-fluid #scene .left {
      left: -250px; }
    .container-fluid #scene .right {
      right: -2250px; }

.damage {
  width: 1180px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center; }
  .damage__txt {
    width: 83.33333%;
    margin-left: 8.33333%;
    font-weight: 700;
    font-size: .9rem;
    line-height: 1.5rem; }
